ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #40E0D0;
  margin: 0;
}
li.nav {
  display: inline;
  padding: 100px;
  margin: 10px;
}
a.nav{
  text-decoration: none;
  color: darkgreen;
  font-size: 150%;
}

li a:hover {
  background-color: lightred;
  color: black;
  font-size: 170%;
}
table, th, tr, td {
  border: 2.5px dashed black;
  width:50%
  
}
div.sauce {
 background-color: orange;
  border-width:3px;
border-style:solid;
border-color:black;
  max-width: 50%;
  left: 25%;
  top: 25px;
  position: sticky;
 }

body {
background-color: lightgrey;
}

.reasons {
list-style-type: upper-roman;
}

.what {
font-family: Garamond;
}

.ca {
font-style: italic;
}

img {
size: 45px;
left: 0%;
}

.mt{
  text-decoration: underline;
}
div.omega {
    width: 50%;
    background-color: #FF7502;
    border: dashed #000000 6px;
    border-radius: 15px;
   }
   div.robloxiscool {
   width: 50%;
    background-color: #00FF93;
    border: dashed #000000 6px;
    border-radius: 15px;
   }
