body {
background-color: #666666ff;
}

ul.nav {
  list-style-type: none;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: grey;
  margin: 0;
}
li.nav {
  display: inline;
  padding: 100px;
  margin: 10px;
}
a.nav{
  text-decoration: none;
  color: red;
  font-size: 150%;
}

li a:hover {
  background-color: gold;
  color: black;
  font-size: 170%;
}

table.menu {
  border: 2.5px solid red;
width: 50%;
		  }

th.menu{
 border: 2.5px solid red;
width: 50%;
}

tr.menu {
 border: 2.5px solid red;
width: 50%;
}

td.menu {
 border: 2.5px solid red;
width: 50%;

}

















